.home-bg-container{
   background-color: #f5f2f2;
   width: 100vw;
   flex: 1;
   /* min-height:calc(100vh - 9vh); */
   padding: 10px;
   /* overflow-y: hidden; */
   /* position: fixed; */
   /* border: solid 2px red; */
}

.notes-display-box{
   width: 100%;
   flex: 1;  
   display: flex;
   border-top: 2px solid #fff; 
   /* overflow: hidden;  */
}
